.body {
    margin: 0px;
    font-family: 'Cardo', serif;
}

.main {
    padding: 25px 0px 116px;
    /*background: linear-gradient(rgba(13, 0, 0, 0.62),rgba(13, 0, 0, 0.62)),url("../img/fondo.jpg");*/
    background: linear-gradient(rgba(13, 0, 0, 0.4),rgba(0, 0, 0, 0.4)),url("../img/fondo.jpg");
    background-size: cover;
    height: 78vh;
    background-position: 45%;
}

.header {

}

.nav {
   display: flex; 
   justify-content: space-around;
   align-items: center;
}
.nav-div {
    width: 105px;
}

.nav-list {
    margin-left: 0px;
    padding-left: 0px;
    display: flex;
    align-items: center;
}

.nav-social {
    width: 105px;
}

.nav-social__icon{
    padding-right: 10px;
    color: #ffffff;
    text-decoration: none;
}

.nav-item {
    padding: 0px 16px;
    list-style: none;
    
}

.nav-item__logo {
    padding: 0px 16px;
    list-style: none;
}

.nav-link {
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
    align-items: center;
}

/**/
.home {
    position: absolute;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);
  
 
}
.home__title {
    color: #ffffff;
    font-size: 48px;
    font-weight: 400;
    font-style: italic;
}

/*acerca de*/
.acerca-de {
    padding-bottom: 50px;
}
.vertical-line {
    background-color: #ee7f4b;
    /*position: relative;*/
    z-index: 9;
    width: 1px;
    height: 130px;
    margin: -50px auto 20px;
    border: none;
}

.acerca-de__title {
    padding: 0px 0px 3px;
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 35px;
    color: #2F3439;
    text-align: center;
    font-weight: 100;
}

.guion {
    background-color:rgba(243, 170, 135, 0.74);
    border: none;
    width: 100px;
    height: 2.59px;
    margin-bottom: 60px;
}

.acerca-de__container {
    display: flex;
    padding: 10px 200px;
}

.acerca-de__img {
    width: 50%;
}

.acerca-de__description {
    padding-left: 40px;
    width: 45%;
    font-size: 24px;
    line-height: 32px;
    text-align: justify;
    color: #2F3439;
}

/*Servicios*/
.servicios {
    padding: 10px 150px 50px;
}

.servicios__title {
    padding: 0px 0px 3px;
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 35px;
    color: #2F3439;
    text-align: center;
    font-weight: 100;
}

.servicios-container {
    display: grid;
    grid-template-areas: 'myArea myArea';
    gap: 10px;
    padding-top: 10px;
}

.servicios-container__bodas {
    grid-area: myArea;
    padding: 0px;
    border: none;
    position: relative;
}
.servicios-container__bodas--img {
    width: 100%;
    margin: 0px;
}

.servicios-container__texto {
    color: #ffffff;
    font-size: 30px;
    font-weight: 600;
    position: absolute;
    top: 180px;
    left: 50%;
    border-bottom: 2px solid #ffffff;
    transform: translate(-50%, -50%);
}

.servicios-container__corporativos {
    padding-right: 2px;
    position: relative;  
}
.servicios-container__corporativos--img {
    width: 100%;
    height: 350px;
}

.servicios-container__textoc {
    color: #ffffff;
    font-size: 30px;
    font-weight: 600;
    position: absolute;
    top: 150px;
    left: 50%;
    border-bottom: 2px solid #ffffff;
    transform: translate(-50%, -50%);
}

.servicios-container__sociales {
    padding-left: 2px;
    position: relative;
}

.servicios-container__sociales--img {
    width: 100%;
    height: 350px;
}

.servicios-container__textos {
    color: #ffffff;
    font-size: 30px;
    font-weight: 600;
    position: absolute;
    top: 150px;
    left: 50%;
    border-bottom: 2px solid #ffffff;
    transform: translate(-50%, -50%);
}

/*Galeria*/

.galeria {
    padding: 10px 150px 50px;
}

.galeria-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
}

.galeria__img {
    width: 100%;
    height: 200px;
}

.galeria__img1 {
    width: 100%;
    height: 420px;
}

.galeria-container__item1 {
    grid-area: 1 / 1 / 3 / 2;
}

.galeria-container__item11 {
    grid-area: 2 / 1 / 3 / 2;
}

.galeria-container__item2 {
    grid-area: 1 / 2 / 2 / 3;
}
.galeria-container__item3 {
    grid-area: 1 / 3 / 2 / 5;
}
.galeria-container__item4 {
    grid-area: 2 / 2 / 3 / 4;
}

.galeria-container__item5 {
    grid-area: 2 / 4 / 3 / 5;
}

.galeria-container__item6 {
    grid-area: 3 / 1 / 4 / 3;
}

.galeria-container__item7 {
    grid-area: 3 / 3 / 4/ 4;
}

.galeria-container__item8 {
    grid-area: 3 / 4 / 5 / 5;
}

.galeria-container__item9 {
    grid-area: 4 / 1 / 5 / 3;
}

.galeria-container__item10 {
    grid-area: 4 / 3 / 5 / 4;
}
 /*Contactanos*/

 .contactanos {
    display: flex;
    justify-content: center;
    padding: 10px 150px 50px;
 }

 .contactanos-container {
    
 }

 form {
    padding: 20px;
 }
 
 .form-input {
    display: flex;
 }

.form-input__text {
    width: 50%;
    padding: 12px 20px;
    margin: 15px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-input__text-area {
    width: 100%;
    padding: 12px 20px;
    margin: 8px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.ubicacion {
     padding: 100px 0px 20px 50px;
 }