.body {
    margin: 0px;
    font-family: 'Cardo', serif;
}

.main {
    padding: 25px 0px 116px;
    /*background: linear-gradient(rgba(13, 0, 0, 0.62),rgba(13, 0, 0, 0.62)),url("../img/fondo.jpg");*/
    background: linear-gradient(rgba(13, 0, 0, 0.4),rgba(0, 0, 0, 0.4)),url("../img/fondo.jpg");
    background-size: cover;
    height: 78vh;
    background-position: 45%;
}

.header {

}

.nav {
   display: flex; 
   justify-content: space-around;
   align-items: center;
}
.nav-div {
    width: 105px;
}

.nav-list {
    margin-left: 0px;
    padding-left: 0px;
    display: flex;
    align-items: center;
}

.nav-social {
    width: 105px;
}

.nav-social__icon{
    padding-right: 10px;
    color: #ffffff;
    text-decoration: none;
}

.nav-item {
    padding: 0px 16px;
    list-style: none;
    
}

.nav-item__logo {
    padding: 0px 16px;
    list-style: none;
}

.nav-link {
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
    align-items: center;
}

/**/
.home {
    position: absolute;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);
  
 
}
.home__title {
    color: #ffffff;
    font-size: 48px;
    font-weight: 400;
    font-style: italic;
}

/*acerca de*/
.acerca-de {
    padding-bottom: 50px;
}
.vertical-line {
    background-color: #ee7f4b;
    /*position: relative;*/
    z-index: 9;
    width: 1px;
    height: 150px;
    margin: -50px auto 20px;
    border: none;
}

.acerca-de__title {
    padding: 0px 0px 3px;
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 35px;
    color: #2F3439;
    text-align: center;
}

.guion {
    background-color:rgba(243, 170, 135, 0.74);
    border: none;
    width: 100px;
    height: 2.59px;
    margin-bottom: 38px;
}

.acerca-de__container {
    display: flex;
    padding: 30px 200px;
}

.acerca-de__img {
    width: 50%;
    /*background: url(/img/equipo.PNG);*/
}

.acerca-de__description {
    padding-left: 40px;
    width: 45%;
    font-size: 24px;
    line-height: 32px;
    text-align: justify;
    color: #2F3439;
}